/configure
/config.log
/config.status
/libtool
/aclocal.m4
/autom4te.cache
/config/compile

!.gitignore
tags
TAGS
*.[oa]
*.lo
*.la
*.mod.c
*~
*.swp
.deps
.dirstamp
.libs
.DS_Store
modules.order
Makefile
Makefile.in
config/missing
